<!-- ko with: home -->
<div class="heading">
    <h1>Проданные товары</h1>
</div>
<div class="row">
    <section class="col-md-24">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <td class="text-center">№</td>
                <td>Название детали / спецтехники</td>
                <td>ФИО покупателя</td>
                <td>ФИО продавца</td>
                <td class="text-center">Дата продажи</td>
                <td class="text-center">Действия</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">1</td>
                <td>Деталь #1</td>
                <td>Иванов И.И.</td>
                <td>Петров П.П.</td>
                <td class="text-center">22.04.2016г.</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>Деталь #2</td>
                <td>Сидоров С.С.</td>
                <td>Вачильев В.В.</td>
                <td class="text-center">15.03.2016г.</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td>Деталь #3</td>
                <td>Найдёнов Н.Н.</td>
                <td>Жиров Ж.Ж.</td>
                <td class="text-center">09.01.2016г.</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<!-- /ko -->
